<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP</title>
</head>


<div class="blur">

    <main>
        <div class="bigWrapper">
            <ng-template #content let-modal>


                <div class="card2">
                    <form>
                        <div class="form-group" style="text-align:center;">

                            
                            <label>Nombres</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Arduino Salón" type="text" [formControl]="nombre">
                            </div>
                            <label>Dirección IP</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="192.168.1.1" type="text" [formControl]="host">
                            </div>
                            <label>Puerto</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="3030" type="text" [formControl]="port">
                            </div>
                            <ul>
                                <label>  Relé: </label >

                                <li>

                                    <div class="input-group">

                                        <button class="btn btn-outline-primary" (click)="increaseN('rele')">+</button>
                                        <span style="margin-top:8px">   {{nReles}}   </span>
                                        <button class="btn btn-outline-danger" (click)="decreaseN('rele')">-</button>
                                    </div>
                                </li>
                                <label>  RGB: </label >

                                <li>
                                    <div class="input-group">

                                        <button class="btn btn-outline-primary" (click)="increaseN('rgb')">+</button>
                                        <span style="margin-top:8px">   {{nRGB}}   </span>
                                        <button class="btn btn-outline-danger" (click)="decreaseN('rgb')">-</button>
                                    </div>
                                </li>
                                <label>  Sensor de temperatura: </label >

                                <li>
                                    <div class="input-group">

                                        <button class="btn btn-outline-primary" (click)="increaseN('sensor')">+</button>
                                        <span style="margin-top:8px">   {{nSensores}}   </span>
                                        <button class="btn btn-outline-danger" (click)="decreaseN('sensor')">-</button>
                                    </div>
                                </li>
                            </ul>
                           

                        </div>
                        <button style="margin-left: 35%;" type="button" class="btn btn-outline-primary" (click)=" insertNew() " (click)="modal.close( 'Save click') ">Guardar</button>

                    </form>
                </div>



            </ng-template>
            <ng-template #content2 let-modal>


                <div class="card2">
                    <form>
                        <div class="form-group" style="text-align:center;">

                            
                            <label>Nombres</label>
                            <div class="input-group">
                                <input class="form-control"  [(ngModel)]="board2.name"  placeholder="Arduino Salón" type="text" [formControl]="nombre"  [value]=board2.name>
                            </div>
                            <label>Dirección IP</label>
                            <div class="input-group">
                                <input class="form-control" [(ngModel)]="board2.host" placeholder="192.168.1.1" type="text" [formControl]="host">
                            </div>
                            <label>Puerto</label>
                            <div class="input-group">
                                <input class="form-control" [(ngModel)]="board2.port" placeholder="3030" type="text" [formControl]="port">
                            </div>
                            <ul>
                                <label>  Relé: </label >

                                <li>

                                    <div class="input-group">

                                        <button class="btn btn-outline-primary" (click)="increaseN('rele')">+</button>
                                        <span style="margin-top:8px">   {{nReles}}   </span>
                                        <button class="btn btn-outline-danger" (click)="decreaseN('rele')">-</button>
                                    </div>
                                </li>
                                <label>  RGB: </label >

                                <li>
                                    <div class="input-group">

                                        <button class="btn btn-outline-primary" (click)="increaseN('rgb')">+</button>
                                        <span style="margin-top:8px">   {{nRGB}}   </span>
                                        <button class="btn btn-outline-danger" (click)="decreaseN('rgb')">-</button>
                                    </div>
                                </li>
                                <label>  Sensor de temperatura: </label >

                                <li>
                                    <div class="input-group">

                                        <button class="btn btn-outline-primary" (click)="increaseN('sensor')">+</button>
                                        <span style="margin-top:8px">   {{nSensores}}   </span>
                                        <button class="btn btn-outline-danger" (click)="decreaseN('sensor')">-</button>
                                    </div>
                                </li>
                            </ul>
                           

                        </div>
                        <button style="margin-left: 35%;" type="button" class="btn btn-outline-primary" (click)=" putBoard() " (click)="modal.close( 'Save click') ">Guardar</button>

                    </form>
                </div>



            </ng-template>


            <div class="bigCard " style="margin-top: 0; ">

                <div class="title ">
                    <div class="col-md-5 p-lg-5 mx-auto my-2 ">


                        <h1 class="display-4 font-weight-normal ">Agregar nuevos dispositivos</h1>
                        <hr>
                        <button class="btn btn-lg btn-outline-primary " (click)="open(content) ">Crear dispositivo</button>

                        <p>
                            <img src="https://img.icons8.com/ios-filled/50/000000/integrated-circuit.png " /> Un dispositivo puede contener múltiples configuraciones.
                        </p>

                        <hr>


                    </div>









                </div>

                <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 " [ngClass]="{ 'd-md-flex flex-md-equal w-100 my-md-3 ps-md-3': flag, 'responsive': !flag} ">


                    <div *ngFor="let board of boardPropsArr ">
                        <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center " [ngClass]="{ ' me-md-3 pt-3 px-3 pt-md-5 px-md-5': flag, 'responsive': !flag} ">
                            <div class=" mx-auto " style="width: 100%; height: 80%; border-radius: 21px ">
                                <div class="wrapper ">

                                    <div class="card ">
                                        <div>
                                            <img src="../../assets/mcu2.png " alt="groot-img ">

                                        </div>
                                        <div class="text-container ">
                                            <h2>Dispositivo ESP8266 - {{board.name}}</h2>
                                            <p>
                                           IP: {{board.host}}
                                            </p>
                                            <p>Puerto: {{board.port}} </p>
                                            <p> Modos asociados:  [{{board.mode}}]</p>

                                            <div class="button-group " style="margin: 5% ">
                                                <button type="button " style="margin-right: 5% " class="btn btn-outline-primary " (click)=edit(board._id); (click)=open(content2)>Editar</button>
                                                <button type="button " style="margin-left: 5% " class="btn btn-outline-danger " (click)=delete(board._id);>Eliminar</button>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>





    </main>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js " integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin=" anonymous "></script>

</html>