@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
.rotate {
    animation: rotation 8s infinite linear;
}
.card2 {
  color: white;
  margin-top: 500px;
  width: 300px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba( 255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 3.0px);
  -webkit-backdrop-filter: blur( 3.0px);
  border-radius: 10px;
  transition: 0.4s all;
}

.card2:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

input[type=text],
input[type=number] {
  color: darkgray;
  width: 78%;
  height: 45px;
  margin-bottom: 30px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 4px);
  -webkit-backdrop-filter: blur( 4px);
  padding-left: 20px;
}

input[type=text]:focus{
  color: white;
  background: rgba( 255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 1.0px);
  -webkit-backdrop-filter: blur( 1.0px);
}
input[type=number]:focus {
  color: white;
  background: rgba( 255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 1.0px);
  -webkit-backdrop-filter: blur( 1.0px);
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
  }
  
  .flip {
    position: relative;
    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }
    >.front {
        transform: rotateY(0deg);
    }
    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }
    &:hover {
        >.front {
            transform: rotateY(180deg);
        }
        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }
        &:hover {
            >.front {
                transform: rotateX(180deg);
            }
            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}
.bigWrapper {
  height: 90%;
  width: 95%;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bigCard {
  margin-top: 12%;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}
.container2 {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}

.container2 .btn {
  position: relative;
  width: 120px;
  height: 50px;
  margin: 20px;
}

.container2 .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.responsiveFirst {
  margin-left: 30%;
}

.container2 .btn:hover a {
  letter-spacing: 3px;
}

.container2 .btn a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.container2 .btn:hover a::before {
  transform: skewX(45deg) translateX(200%);
}

.container2 .btn::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.container2 .btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.container2 .btn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.container2 .btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.container2 .btn:nth-child(1)::before,
.container2 .btn:nth-child(1)::after {
  background: #ff1571;
  box-shadow: 0 0 5px #ff1571, 0 0 15px #ff1571, 0 0 30px #ff1571, 0 0 60px #ff1571;
}

.container2 .btn:nth-child(2)::before,
.container2 .btn:nth-child(2)::after {
  background: #2bd2ff;
  box-shadow: 0 0 5px #2bd2ff, 0 0 15px #2bd2ff, 0 0 30px #2bd2ff, 0 0 60px #2bd2ff;
}

.container2 .btn:nth-child(3)::before,
.container2 .btn:nth-child(3)::after {
  background: #1eff45;
  box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45, 0 0 60px #1eff45;
}

  /*
   * Extra utilities
   */
  
   .flip {
    position: relative;
    border-radius: 10px;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 350px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    >.front,
    >.back {
        text-align: center;
        display: block;
        color: white;
        background-size: cover!important;
        background-position: center!important;
        height: 500px;
        padding: 1em 2em;
        background-color: rgba(255, 255, 255, 0.06);
        border-radius: 10px;
        box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(25px);
        border-radius: 10px;
        p {
            font-size: 0.9125rem;
            line-height: 160%;
            color: #999;
        }
    }
}

  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }
  .title {
    text-align: center;
    padding-top: 12%;
}

//--

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
  font-weight: 700;
}

body::after {
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.svgcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.topconvo {
  font-size: 35px;
}
.topconvo span{
  color: #a71dbf;
}
.bottomconvo{
    padding-top: 15px;
}

.subcont {
  width: 100%;
  text-align: center;
  height: 80vh;
}

.svgcontainer svg#fourohfour {
  max-height: 320px;
  height: 21vw;
  min-height: 170px;
}

.svgcontainer svg#fourohfour g#tops path#leftfourtop {
  transform-origin: center;
  -webkit-animation: loboff1 4s 1s forwards;
  animation: loboff1 4s 1s forwards;
}

.svgcontainer svg#fourohfour g#tops path#zerotop_3_.picklericked {
  transform-origin: center;
  -webkit-animation: loboff2 4s 1s forwards;
  animation: loboff2 4s 1s forwards;
}

.svgcontainer svg#fourohfour g#tops path#rightfourtop.picklericked {
  transform-origin: center;
  -webkit-animation: loboff3 4s 1s forwards;
  animation: loboff3 4s 1s forwards;
}

.svgcontainer svg#fourohfour .st0 {
  fill: #a71dbf;
}

.svgcontainer svg#fourohfour .st1 {
  fill: #541bc1;
}

.svgcontainer svg#fourohfour .st2 {
  fill: #f0a9ff;
}

.backgroundfun {
  position: absolute;
  min-height: 100%;
}

.backgroundfun svg#rnmbg .st0 {
  fill: #3f271a;
}

.backgroundfun svg#rnmbg .st1 {
  fill: #e9ce33;
}

.backgroundfun svg#rnmbg .st2 {
  fill: #834d21;
}

.backgroundfun svg#rnmbg .st3 {
  fill: #eacb36;
}

.backgroundfun svg#rnmbg .st4 {
  fill: #d28b3a;
}

.backgroundfun svg#rnmbg .st5 {
  fill: #84a841;
}

.backgroundfun svg#rnmbg .st6 {
  fill: #ca7f3f;
}

.backgroundfun svg#rnmbg .st7 {
  fill: #e7ab43;
}

.backgroundfun svg#rnmbg .st8 {
  fill: #ebc22d;
}

.backgroundfun svg#rnmbg .st9 {
  fill: #b5c04c;
}

.backgroundfun svg#rnmbg .st10 {
  fill: #ddb92d;
}

.backgroundfun svg#rnmbg .st11 {
  fill: #e9c194;
}

.backgroundfun svg#rnmbg .st12 {
  fill: #e3aa86;
}

.backgroundfun svg#rnmbg .st13 {
  fill: #98702d;
}

.backgroundfun svg#rnmbg .st14 {
  fill: #95b023;
}

.backgroundfun svg#rnmbg .st15 {
  fill: #e2a175;
}

.backgroundfun svg#rnmbg .st16 {
  fill: #c8672e;
}

.backgroundfun svg#rnmbg .st17 {
  fill: #c06b73;
}

.backgroundfun svg#rnmbg .st18 {
  fill: #728b47;
}

.backgroundfun svg#rnmbg .st19 {
  fill: #da7d3d;
}

.backgroundfun svg#rnmbg .st20 {
  fill: #db9345;
}

.backgroundfun svg#rnmbg .st21 {
  fill: #d4713c;
}

.backgroundfun svg#rnmbg .st22 {
  fill: #e1d47e;
}

.backgroundfun svg#rnmbg .st23 {
  fill: #db9364;
}

.backgroundfun svg#rnmbg .st24 {
  fill: #cc8cbc;
}

.backgroundfun svg#rnmbg .st25 {
  fill: #e3b6bf;
}

.backgroundfun svg#rnmbg .st26 {
  fill: #d1c295;
}

.backgroundfun svg#rnmbg .st27 {
  fill: #b3996d;
}

.backgroundfun svg#rnmbg .st28 {
  fill: #e8ba47;
}

.backgroundfun svg#rnmbg .st29 {
  fill: #b45c36;
}

svg#swipe {
  width: 300px;
  position: absolute;
  top: 30%;
  left: -300px;
  filter: blur(6px);
  -webkit-animation: swipecut 0.1s linear 1s forwards;
  animation: swipecut 0.1s linear 1s forwards;
}

svg#swipe .st0 {
  fill: #4e8025;
}

svg#picklerick {
  width: 300px;
  position: absolute;
  bottom: -400px;
  right: 13%;
  -webkit-animation: popup 1s 5s forwards;
  animation: popup 1s 5s forwards;
}

svg#picklerick .st0 {
  fill: #fefefe;
}

svg#picklerick .st1 {
  fill: #0d130c;
}

svg#picklerick .st2 {
  fill: #4e8025;
}

svg#picklerick .st3 {
  fill: #669b2e;
}

svg#picklerick .st4 {
  fill: #e5f8d3;
}

@keyframes swipecut {
  0% {
  }

  100% {
    transform: translateX(calc(100vw + 300px));
  }
}

@keyframes loboff1 {
  0% {
  }

  100% {
    transform: translate(0px, 3px) rotate(27deg);
  }
}

@keyframes loboff2 {
  0% {
  }

  100% {
    transform: translate(10px, -27px) rotate(27deg);
  }
}

@keyframes loboff3 {
  0% {
  }

  100% {
    transform: translate(20px, -50px) rotate(28deg);
  }
}

@keyframes popup {
  0% {
  }

  100% {
    transform: translateY(-200px);
  }
}

@media only screen and (max-height: 420px) {
    .svgcontainer svg#fourohfour {
    height: 180px;
    }
    .topconvo{
        font-size: 25px;
    }
    .bottomconvo{
        font-size: 13px;
    }
    svg#picklerick {
        bottom: -420px;
        right: 10vw;
    }
}

@media only screen and (max-width: 600px) { 
    .topconvo{
        font-size: 25px;
    }
    .bottomconvo{
        font-size: 13px;
    }
    svg#picklerick {
        width: 240px;
    }
}