<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Product example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
</head>
<div class="blur">

    <body>


        <div class="title text-white" *ngIf="connectedDevices.length > 0">
            <div class="col-md-5 p-lg-5 mx-auto my-2">

                <h1 class="display-4 font-weight-normal text">Dispositivos conectados:</h1>

                <hr>
                <div class="center">
                    <button *ngIf="pagina == 0"  class="btn btn-outline-danger"><</button>
                    <button *ngIf="pagina > 0" (click)="changePage(-1)"  class="btn btn-outline-danger"><</button>
                    <button *ngIf="hasNext == true "(click)="changePage(1)" class="btn btn-outline-primary">></button>
                    <button *ngIf="hasNext == false" class="btn btn-outline-primary">></button>

                </div>

            </div>
            <!----

   -->
          


        </div>
        <ng-template #content let-modal>


            <div class="card2">
                <form>
                    <div class="form-group" style="text-align:center;">


                        <label class="p-3 mb-2 bg-dark text-danger">Detalles del dispositivo</label>
                        <div class="input-group">
                            <label>Actualmente seleccionado: <span style="color: red; font-weight: bold;">{{selectedDevice.name}}</span>
                            </label>

                            <div class="input-group">

                                <input class="form-control" placeholder="Nombre del dispositivo" type="text"
                                    [formControl]="deviceName">
                            </div>

                  
                        </div>
                        <label class="p-3 mb-2 bg-dark text-danger">Entradas y salidas 🔌 (GPIO)</label>
                        <div class="input-group">
                            <label *ngIf="selectedDevice.type === 'rgb'">Actualmente seleccionado: <span style="color: red; font-weight: bold;">{{selectedDevice.pines[0]}}</span>
                            </label>

                            <div class="input-group">

                                <input class="form-control" placeholder="Pin PWM 1 - 🔴 / Default: 14" min="0" max="20"type="number"
                                    [formControl]="red" *ngIf="selectedDevice.type === 'rgb'">
                                  
                            </div>
                            <label *ngIf="selectedDevice.type === 'rgb'" >Actualmente seleccionado: <span style="color: red; font-weight: bold;">{{selectedDevice.pines[1]}}</span>
                            </label>

                            <div class="input-group">

                                <input class="form-control" placeholder="Pin PWM 2 - 🟢/  Default: 15" min="0" max="20" type="number"
                                    [formControl]="green" *ngIf="selectedDevice.type === 'rgb'">
                                   
                            </div>
                            <label *ngIf="selectedDevice.type === 'rgb'">Actualmente seleccionado: <span
                                    style="color: red; font-weight: bolder;">{{selectedDevice.pines[2]}}</span> </label>

                         
                            <div class="input-group">

                                <input class="form-control" placeholder="Pin PWM 3 - 🔵 / Default: 14"  min="0" max="20"type="number"
                                    [formControl]="blue" *ngIf="selectedDevice.type === 'rgb'">
                                   
                            </div>
                            <label *ngIf="selectedDevice.type !== 'rgb'">Actualmente seleccionado: <span style="color: red; font-weight: bold;">{{selectedDevice.pines[0]}}</span>
                            </label>
                            <div class="input-group">

                                    <input class="form-control" placeholder="Pin Sensor / Actuador 🧭" min="0" max="2" type="number"
                                    [formControl]="sensor" *ngIf="selectedDevice.type !== 'rgb'">
                            </div>
                        </div>

                    </div>
                    <button style="margin-left: 35%;" type="button" class="btn btn-outline-light"
                        (click)=" edit() " (click)="modal.close( 'Save click') ">Editar ✏️</button>

                </form>
            </div>



        </ng-template>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 "
            [ngClass]="{ 'd-md-flex flex-md-equal w-100 my-md-3 ps-md-3': flag, 'responsive': !flag} " *ngIf="connectedDevices.length > 0">

                <div *ngFor="let device of connectedDevices" >

        

                    <div *ngIf="device.type == 'lamp'">
                        <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center "
                            [ngClass]="{ ' me-md-3 pt-3 px-3 pt-md-5 px-md-5': flag, 'responsive': !flag} ">
                            <div class=" mx-auto " style="width: 100%; height: 80%; border-radius: 21px ">
                                <div class="my-3 p-3 " [ngClass]="{ 'my-3 p-3': flag, 'responsive': !flag} ">
                                    <div class="rgbDevice">
                                        <div class="flip ">
                                            <div class="front">
                                                <h1 class="p-3 mb-2 bg-dark text-danger " style="border-radius:10px;">
                                                    Iluminación General <img
                                                        src="https://img.icons8.com/color/48/000000/reflector-bulb.png" />
                                                </h1>
                                                <img src="https://img.icons8.com/dusk/256/000000/spiral-bulb.png"
                                                    width="240px" />
                                            </div>
                                            <div class="back ">
                                                <h2>Dispositivo RGB conectado a placa con ID: x</h2>
                                                <p>Usando los pines: [1, 2, 3]</p>
                                                <br>
                                                <a href=" ">
                                                    Cambiar configuración del dispositivo</a>
                                                <hr>
                                                <div class="container2 ">
                                                    <div class="btn ">
                                                        <a href="# ">
                                                            ON
                                                            <img
                                                                src="https://img.icons8.com/dusk/50/000000/switch-off.png " />
                                                        </a>
                                                    </div>
                                                    <div class="btn ">
                                                        <a href="# ">
                                                            OFF
                                                            <img width="50px"
                                                                src="https://img.icons8.com/dusk/64/000000/switch-on.png " />
                                                        </a>
                                                    </div>
                                                    <div class="btn "><a href="# ">Cambiar de color</a></div>
    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
    
                    <div *ngIf="device.type == 'lamp1'">
                        <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center "
                            [ngClass]="{ ' me-md-3 pt-3 px-3 pt-md-5 px-md-5': flag, 'responsive': !flag} ">
                            <div class=" mx-auto " style="width: 100%; height: 80%; border-radius: 21px ">
                                <div class="my-3 p-3 " [ngClass]="{ 'my-3 p-3': flag, 'responsive': !flag} ">
                                    <div class="rgbDevice ">
                                        <div class="flip ">
                                            <div class="front "
                                                style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png); ">
                                                <h1 class="p-3 mb-2 bg-dark text-danger " style="border-radius:10px; ">
                                                    Lámpara <img
                                                        src="https://img.icons8.com/doodle/50/000000/desk-lamp--v1.png "
                                                        style="margin-bottom: 8px; " /></h1>
    
                                                <img src="https://img.icons8.com/color/240/000000/pixar-lamp-2.png " />
    
                                            </div>
                                            <div class="back ">
                                                <h2>Dispositivo RGB conectado a placa con ID: x</h2>
                                                <p>Usando los pines: [1, 2, 3]</p>
                                                <br>
                                                <a href=" ">Cambiar configuración del dispositivo</a>
                                                <hr>
    
    
    
                                                <div class="container2 ">
                                                    <div class="btn ">
                                                        <a href="# ">
                                                            ON
                                                            <img
                                                                src="https://img.icons8.com/dusk/50/000000/switch-off.png " />
                                                        </a>
                                                    </div>
                                                    <div class="btn ">
                                                        <a href="# ">
                                                            OFF
                                                            <img width="50px"
                                                                src="https://img.icons8.com/dusk/64/000000/switch-on.png " />
                                                        </a>
                                                    </div>
                                                    <div class="btn "><a href="# ">Cambiar de color</a></div>
    
                                                </div>
    
    
    
    
    
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
    
                    </div>
                    <div *ngIf="device.type == 'relay'">
                        <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center "
                            [ngClass]="{ ' me-md-3 pt-3 px-3 pt-md-5 px-md-5': flag, 'responsive': !flag} ">
                            <div class=" mx-auto " style="width: 100%; height: 80%; border-radius: 21px ">
                                <div class="my-3 p-3 " [ngClass]="{ 'my-3 p-3': flag, 'responsive': !flag} ">
                                    <div class="rgbDevice ">
                                        <div class="flip ">
                                            <div class="front "
                                                style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png); ">
                                                <h1 class="p-3 mb-2 bg-dark text-danger " style="border-radius:10px; ">
                                                    {{device.name}} <img class="rotate "
                                                        src="https://img.icons8.com/fluent/50/000000/relay.png"
                                                        style="margin-bottom: 6px; " /></h1>
                                                <img src="https://img.icons8.com/dusk/256/000000/relay.png " />
    
                                            </div>
                                            <div class="back ">
                                                <div class="p-3 mb-2 bg-dark text-danger " style="border-radius: 21px;">
                                                    <h2  >Dispositivo Relé conectado a
                                                        {{device.boardID}}</h2>
                                                    <p class="text-primary">Usando los pines: [{{device.pines[0]}}]
                                                        {{device.address}}
    
                                                    </p>
                                                </div>
                                               
    
    
                                                <a (click)="open(content)" (click)="getByID(device._id)" class="text-primary "
                                                    style=" text-decoration: underline;">
                                                    Cambiar configuración del dispositivo ✏️
                                                </a>
    
    
                                                <div class="container2 ">
    
                                                    <div class="btn ">
                                                        <a (click)="sendAction(device.boardID, device.address, 'open', '', device.pines)">
                                                            OPEN
                                                            <img
                                                                src="https://img.icons8.com/dusk/50/000000/switch-off.png " />
                                                        </a>
                                                    </div>
                                                    <div class="btn ">
                                                        <a
                                                            (click)="sendAction(device.boardID, device.address, 'close', '', device.pines)">
                                                            CLOSE
                                                            <img width="50px"
                                                                src="https://img.icons8.com/dusk/64/000000/switch-on.png " />
                                                        </a>
                                                    </div>
    
                                                </div>
    
    
    
    
    
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
    
                            </div>
                        </div>
                    </div>
    
                    <div *ngIf="device.type == 'sensor'">
                        <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center "
                            [ngClass]="{ ' me-md-3 pt-3 px-3 pt-md-5 px-md-5': flag, 'responsive': !flag} ">
                            <div class=" mx-auto " style="width: 100%; height: 80%; border-radius: 21px ">
                                <div class="my-3 p-3 " [ngClass]="{ 'my-3 p-3': flag, 'responsive': !flag} ">
                                    <div class="rgbDevice ">
                                        <div class="flip ">
                                            <div class="front">
                                                <h1 class="p-3 mb-2 bg-dark text-danger " style="border-radius:10px;"><img
                                                        src="https://img.icons8.com/fluent/48/000000/humidity.png" /> Sensor Temp Hum
                                                    <img src="https://img.icons8.com/wired/64/000000/temperature-sensitive.png"
                                                        style="margin-bottom: 8px;" />
                                                </h1>
                
                                                <img src="https://img.icons8.com/dusk/128/000000/humidity.png"
                                                    style="margin-top: 10%; width: 33%;" />
                                                <img src="https://img.icons8.com/dusk/128/000000/temperature-sensitive.png"
                                                    style="margin-top: 10%; width: 33%;" />
                                            </div>
                                            <div class="back ">
                                                <div class="p-3 mb-2 bg-dark text-danger " style="border-radius: 21px;">
                                                    <h2  >Dispositivo Relé conectado a
                                                        {{device.boardID}}</h2>
                                                    <p class="text-primary">Usando los pines: [{{device.pines[0]}}]
                                                        {{device.address}}
    
                                                    </p>
                                                </div>
                                               
    
    
                                                <a (click)="open(content)" (click)="getByID(device._id)" class="text-primary "
                                                    style=" text-decoration: underline;">
                                                    Cambiar configuración del dispositivo ✏️
                                                </a>
    
    
                                                <div class="container2 ">
    
                                                    <div class="btn ">
                                                        <a (click)="sendAction(device.boardID, device.address, 'readTempData', '', device.pines)">
                                                            read
                                                            <img
                                                                src="https://img.icons8.com/dusk/50/000000/switch-off.png " />
                                                        </a>
                                                    </div>
                                                    <div class="btn ">
                                                        <a
                                                            (click)="sendAction(device.boardID, device.address, 'off', '', device.pines)">
                                                            CLOSE
                                                            <img width="50px"
                                                                src="https://img.icons8.com/dusk/64/000000/switch-on.png " />
                                                        </a>
                                                    </div>
    
                                                </div>
    
    
    
    
    
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
    
                            </div>
                        </div>
                    </div>
                    <div *ngIf="device.type == 'rgb'">
                        <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center "
                            [ngClass]="{ ' me-md-3 pt-3 px-3 pt-md-5 px-md-5': flag, 'responsive': !flag} ">
                            <div class=" mx-auto " style="width: 100%; height: 80%; border-radius: 21px ">
                                <div class="my-3 p-3 " [ngClass]="{ 'my-3 p-3': flag, 'responsive': !flag} ">
                                    <div class="rgbDevice ">
                                        <div class="flip ">
                                            <div class="front ">
                                                <h1 class="p-3 mb-2 bg-dark text-danger " style="border-radius:10px; ">
                                                    {{device.name}} <img class="rotate "
                                                        src="https://img.icons8.com/fluent/48/000000/color-mode.png "
                                                        style="margin-bottom: 8px; " /></h1>
                    
                                                <img src="https://img.icons8.com/color/240/000000/rgb-lamp.png " />
                    
                                            </div>
                                            <div class="back ">
                                                <div class="p-3 mb-2 bg-dark text-danger " style="border-radius: 21px;">
                                                    <h2>Dispositivo RGB <img class="rotate"
                                                        src="https://img.icons8.com/fluent/48/000000/color-mode.png " /> conectado a
                                                        {{device.boardID}}</h2>
                                                    <p *ngIf="mostrarColor == false" class="text-primary">Usando los pines: [{{device.pines}}]
                                                        {{device.address}}
                    
                                                    </p>
                                                    <input readonly *ngIf="mostrarColor == true" type="text" class="form-control" [cpPosition]="'bottom'"
                                                    [(colorPicker)]="color"  (colorPickerChange)="sendAction(device.boardID, device.address, 'color', color, device.pines)"[style.background]="color"
                                                    [value]="color">
                                                </div>
                                               
                    
                                           
                                                <a (click)="open(content)" (click)=getByID(device._id) class="text-primary "
                                                    style=" text-decoration: underline;">
                                                    Cambiar configuración del dispositivo ✏️
                                                </a>
                    
                    
                                                <div class="container2 ">
                                                    <div class="btn ">
                                                        <a (click)="sendAction(device.boardID, device.address, 'on', '', device.pines)">
                                                            ON
                                                            <img
                                                                src="https://img.icons8.com/dusk/50/000000/switch-off.png " />
                                                        </a>
                                                    </div>
                                                    <div class="btn ">
                                                        <a (click)="sendAction(device.boardID, device.address, 'off', '', device.pines)">
                                                            OFF
                                                            <img width="50px"
                                                                src="https://img.icons8.com/dusk/64/000000/switch-on.png " />
                                                        </a>
                                                    </div>
                                                    <div class="btn ">
                                                        <a (click)="cambiarColor()"><img class="rotate "
                                                                src="https://img.icons8.com/officexs/30/000000/rgb-circle-1.png " /></a>
                                                    </div>
                    
                                                </div>
                    
                    
                    
                    
                    
                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                    
                            </div>
                        </div>
                    </div>
                    <div *ngIf="device.type == 'piezo'">
                        <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center "
                            [ngClass]="{ ' me-md-3 pt-3 px-3 pt-md-5 px-md-5': flag, 'responsive': !flag} ">
                            <div class=" mx-auto " style="width: 100%; height: 80%; border-radius: 21px ">
                                <div class="my-3 p-3 " [ngClass]="{ 'my-3 p-3': flag, 'responsive': !flag} ">
                                    <div class="rgbDevice ">
                                        <div class="flip ">
                                            <div class="front "
                                                style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png); ">
                                                <h1 class="p-3 mb-2 bg-dark text-danger " style="border-radius:10px; ">
                                                    Zumbador
                                                    <img src="https://img.icons8.com/dusk/64/000000/signal-horn.png"
                                                        width=48px style="margin-bottom: 8px; " />
                                                </h1>
    
                                                <img src="https://img.icons8.com/color/250/000000/buzzer.png " />
                                            </div>
                                            <div class="back ">
                                                <h2>Dispositivo RGB conectado a placa con ID: x</h2>
                                                <p>Usando los pines: [1, 2, 3]</p>
                                                <br>
                                                <a href=" ">Cambiar configuración del dispositivo</a>
                                                <hr>
    
    
    
                                                <div class="container2 ">
                                                    <div class="btn ">
                                                        <a href="# ">
                                                            ON
                                                            <img
                                                                src="https://img.icons8.com/dusk/50/000000/switch-off.png " />
                                                        </a>
                                                    </div>
                                                    <div class="btn ">
                                                        <a href="# ">
                                                            OFF
                                                            <img width="50px"
                                                                src="https://img.icons8.com/dusk/64/000000/switch-on.png " />
                                                        </a>
                                                    </div>
                                                    <div class="btn "><a href="# ">Cambiar de color</a></div>
    
                                                </div>
    
    
    
    
    
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <div *ngIf="device.type == 'custom'">
    
                        <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center "
                            [ngClass]="{ ' me-md-3 pt-3 px-3 pt-md-5 px-md-5': flag, 'responsive': !flag} ">
                            <div class=" mx-auto " style="width: 100%; height: 80%; border-radius: 21px ">
                                <div class="my-3 p-3 " [ngClass]="{ 'my-3 p-3': flag, 'responsive': !flag} ">
                                    <div class="rgbDevice ">
                                        <div class="flip ">
                                            <div class="front "
                                                style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png); ">
                                                <h1 class="p-3 mb-2 bg-dark text-danger " style="border-radius:10px; "> <img
                                                        src="https://img.icons8.com/dotty/50/000000/arduino-uno-board.png" />
                                                    Dispositivo Custom <img class="rotate "
                                                        src="https://img.icons8.com/fluent/50/000000/arduino.png"
                                                        style="margin-bottom: 8px; " /></h1>
                                                <img src="../../assets/mcu.png " width=30% style="margin-top: 8%; " />
    
                                            </div>
                                            <div class="back ">
                                                <h2>Dispositivo RGB conectado a placa con ID: x</h2>
                                                <p>Usando los pines: [1, 2, 3]</p>
                                                <br>
                                                <a href=" ">Cambiar configuración del dispositivo</a>
                                                <hr>
    
    
                                                <div class="container2 ">
                                                    <div class="btn ">
                                                        <a href="# ">
                                                            ON
                                                            <img
                                                                src="https://img.icons8.com/dusk/50/000000/switch-off.png " />
                                                        </a>
                                                    </div>
                                                    <div class="btn ">
                                                        <a href="# ">
                                                            OFF
                                                            <img width="50px"
                                                                src="https://img.icons8.com/dusk/64/000000/switch-on.png " />
                                                        </a>
                                                    </div>
                                                    <div class="btn "><a href="# ">Cambiar de color</a></div>
    
                                                </div>
    
    
    
    
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
    
                            </div>
                        </div>
    
                    </div>
    
                </div>


        </div>
        <div *ngIf="connectedDevices.length == 0">
            <div class="svgcontainer">
                <div class="subcont">
                    <div class="topconvo">
                        <span>UPS</span><br />Parece que aún no has iniciado una conexión...
                    </div>
                    <svg version="1.1" id="fourohfour" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                        y="0px" viewBox="0 0 265.5 114" style="enable-background:new 0 0 265.5 114;" xml:space="preserve">
                        <g id="bottoms">
                            <g id="leftfourbottom">
                                <ellipse class="st0" cx="82.4" cy="65.5" rx="11.7" ry="3.5" />
                                <path class="st1" d="M98.4,78.9c-0.8-2.8-2.8-4.4-6-4.9c0.7-2.7,1.3-5.8,1.7-8.4L93.9,66c-0.8,1.7-5.7,3-11.5,3s-10.7-1.3-11.5-3l-0.1-0.5
                    c0,0.8,0.1,2.1,0.1,2.7c0,2.4-0.3,4.3-1,5.9c-0.3,0.7-1.1,1.1-2.3,1.1c-1.7,0-2.8-0.7-3.2-2l0,0c-0.3-1.3,0.4-3.5,1.9-6.6
                    c0.1-0.3,0.2-0.6,0.2-0.7h-0.7c0,1.7-4.5,3-10,3s-10-1.3-10-3l-0.5-0.2c-0.7,1.8-1.3,3.4-1.8,4.6c-1.7,4.2-2.5,7.8-2.5,10.8
                    c0,3.8,1.4,7.2,4.1,10.1c3.8,3.1,9.6,4.7,17.5,4.7c0.5,0.5,0.7,1.4,0.7,2.9c0,1.7,0,2.6,0.1,2.7c0.9,6.2,3.5,10,7.6,11.5
                    c1.7,0.6,3.6,0.9,5.6,0.9c7.5,0,12-3,13.5-8.9c0.5-1.9,0.7-5.1,0.7-9.5c0-2.1,1-3.1,3.1-3.1c3.2-1.3,4.7-3.9,4.7-7.8h0.1
                    C98.8,81.6,98.7,79.7,98.4,78.9z" />
                                <ellipse class="st0" cx="55.8" cy="66" rx="10.6" ry="3" />
                                <ellipse class="st2" cx="82.4" cy="65.5" rx="3.5" ry="1.1" />
                                <ellipse class="st2" cx="55.5" cy="65.8" rx="3.2" ry="0.9" />
                            </g>
                            <g id="rightfourbottom">
                                <ellipse class="st0" cx="208.1" cy="65.5" rx="11.7" ry="3.5" />
                                <path class="st1" d="M224.1,78.9c-0.8-2.8-2.8-4.4-6-4.9c0.7-2.7,1.3-5.8,1.7-8.4l-0.1,0.5c-0.8,1.7-5.7,3-11.5,3c-5.9,0-10.7-1.3-11.5-3
                    l-0.1-0.5c0,0.8,0.1,2.1,0.1,2.7c0,2.4-0.3,4.3-1,5.9c-0.3,0.7-1.1,1.1-2.3,1.1c-1.7,0-2.8-0.7-3.2-2l0,0
                    c-0.3-1.3,0.4-3.5,1.9-6.6c0.1-0.3,0.2-0.6,0.2-0.7h-0.7c0,1.7-4.5,3-10,3s-10-1.3-10-3l-0.5-0.2c-0.7,1.8-1.3,3.4-1.8,4.6
                    c-1.7,4.2-2.5,7.8-2.5,10.8c0,3.8,1.4,7.2,4.1,10.1c3.8,3.1,9.6,4.7,17.5,4.7c0.5,0.5,0.7,1.4,0.7,2.9c0,1.7,0,2.6,0.1,2.7
                    c0.9,6.2,3.5,10,7.6,11.5c1.7,0.6,3.6,0.9,5.6,0.9c7.5,0,12-3,13.5-8.9c0.5-1.9,0.7-5.1,0.7-9.5c0-2.1,1-3.1,3.1-3.1
                    c3.2-1.3,4.7-3.9,4.7-7.8h0.1C224.5,81.6,224.3,79.7,224.1,78.9z" />
                                <ellipse class="st0" cx="181.5" cy="66" rx="10.6" ry="3" />
                                <ellipse class="st2" cx="208.1" cy="65.5" rx="3.5" ry="1.1" />
                                <ellipse class="st2" cx="181.2" cy="65.8" rx="3.2" ry="0.9" />
                            </g>
                            <g id="zerobottom">
                                <path class="st1" d="M135.6,65.2L135.6,65.2c0,0.6,0,1.1,0,1.7c0,4-0.8,11.1-2.5,21.5c-0.3,0.9-0.8,1.3-1.5,1.3l-0.6-0.4
                    c-0.8-5.7-1.2-10.5-1.2-14.4c0-3.5,0.3-6.6,0.9-9.4h-25.4c-0.7,4.3-1,8.9-0.9,13.8c1.2,6.9,2.6,12.3,4.1,16
                    c2.3,5.5,5.6,10,9.9,13.4c5.6,3.5,11.1,5.2,16.6,5.2c1.9,0,3.8-0.2,5.6-0.7c3-0.7,5.7-2.3,8.3-4.6c2.6-2.3,4.3-5,5.3-7.8
                    c4.1-8.6,6.1-18.3,6.1-29.1c0-2.2-0.1-4.4-0.3-6.5H135.6z" />
                                <path class="st0" d="M160,65.2c0,2.1-5.5,3.8-12.2,3.8s-12.3-1.7-12.3-3.8s5.5-3.8,12.3-3.8S160,63.2,160,65.2z" />
                                <path class="st0" d="M130.6,65.6c0,1.9-5.7,3.4-12.7,3.4s-12.8-1.6-12.8-3.5s5.7-3.5,12.8-3.5S130.6,63.7,130.6,65.6z" />
                                <ellipse class="st2" cx="147.8" cy="65.2" rx="3.2" ry="1" />
                                <ellipse class="st2" cx="117.9" cy="65.5" rx="3.4" ry="0.9" />
                            </g>
                        </g>
                        <g id="tops">
                            <path class="st1 picklericked" id="leftfourtop" d="M82.6,70c6.5,0,11.1-1.3,11.3-3.3c0,0,0,0,0,0c0.5-3.4,1.5-6.8,1.5-10c0-5.3-0.9-9.4-2.7-12.2
                c-2.4-3.8-6.3-6.8-11.7-9c-2.5-0.7-5.1-1-8-1c-5.8,0-9.8,1.2-12,3.6c-4.2,4.5-8.8,12.1-13.8,23c-0.9,2.2-1.7,4.4-2.4,6.1
                C44.9,69,49.6,70,55.4,70c5.1,0,8.9-0.6,10.1-1.9c1.8-3.6,3.7-6.8,4.6-8.5c0.3,2.7,0.6,5.2,0.7,7.1c0,0,0,0,0,0
                C70.9,68.7,76.1,70,82.6,70z" />
                            <path class="st1 picklericked" id="rightfourtop" d="M208.2,70c6.5,0,11.1-1.3,11.3-3.3c0,0,0,0,0,0c0.5-3.4,1.5-6.8,1.5-10c0-5.3-0.9-9.4-2.7-12.2
                c-2.4-3.8-6.3-6.8-11.7-9c-2.5-0.7-5.1-1-8-1c-5.8,0-9.8,1.2-12,3.6c-4.2,4.5-8.8,12.1-13.8,23c-0.9,2.2-1.7,4.4-2.4,6.1
                c0.2,1.7,4.9,2.7,10.7,2.7c5.1,0,8.9-0.6,10.1-1.9c1.8-3.6,3.7-6.8,4.6-8.5c0.3,2.7,0.6,5.2,0.6,7.1c0,0,0,0,0,0
                C196.5,68.7,201.7,70,208.2,70z" />
                            <path class="st1 picklericked" id="zerotop_3_" d="M156.5,50.9c1.6,4.3,3,9,3.5,13.9l0,0.7c-0.1,2.1-5.6,3.7-12.3,3.7c-6.8,0-12.3-1.7-12.3-3.8
                c0-0.1,0-0.1,0-0.2l0,0.2l0,0c0-1.4,0.2-2.9,0-4.2l0,0c-0.2-1.1-0.4-1.7-1.5-1.7c-0.8,0-1.4,0.4-1.7,1.1c-0.7,1.5-1.2,3.1-1.6,4.9
                h0c0,0,0,0,0,0c-0.1,0.2-0.1,0.5-0.2,0.8c-1,1.7-6.2,2.9-12.6,2.9c-6.9,0-12.4-1.5-12.7-3.3c1.2-8.1,3.7-15.2,7.5-21.4
                c3.8-4.6,6.7-6.1,8.5-7.2c3.4-2.1,7-3.1,10.7-2.8c5.7,0.4,10.8,2.1,15.4,5.1s7.7,6.8,9.4,11.4" />
                        </g>
                    </svg>
                    <div class="bottomconvo text-white">
                        Puedes iniciar una conexión desde la pestaña <button class="btn btn-outline-light">Iniciar Conexión 🛰️</button>
                    </div>
                </div>
            </div>
        </div>


        <footer class="container py-5"
            style="background-color: #263238; border-radius: 21px; width:93%; text-align:center">
            <div class="row">
                <div class="col-12 col-md">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="d-block mb-2">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                        <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                        <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                        <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                        <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                        <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                    </svg>
                    <p>Marcos Asensio</p>
                    <small class="d-block mb-3 text-muted">&copy;Curso 2020-2021</small>
                </div>
                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2"> Project Documentation </h5>

                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
                        <li><a href="http://webenlance.com">API REST Source Code</a></li>
                        <li><a href="http://webenlance.com">FRONT Source Code</a></li>
                        <li><a href="http://webenlance.com">Firmata Web</a></li>
                        <li><a href="http://webenlance.com">MQTT Broker</a></li>
                        <li><a href="http://webenlance.com">Johnny Five Library</a></li>
                        <li><a href="http://webenlance.com">ESP8266 Development Board</a></li>
                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>

            </div>
        </footer>


        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="../../assets/js/vendor/holder.min.js"></script>
        <script>
            Holder.addTheme('thumb', {
                bg: '#55595c',
                fg: '#eceeef',
                text: 'Thumbnail'
            });
        </script>
    </body>
</div>

</html>