<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP</title>
</head>

<div *ngIf="pagina!='login'">

    <app-nav-bar (pagina)="cambiarPag($event)"></app-nav-bar>;
</div>

<div *ngIf="pagina=='home'">
    <app-main-menu></app-main-menu>
</div>
<div *ngIf="pagina=='iotMenu'">
    <app-iot-menu></app-iot-menu>
</div>
<div *ngIf="pagina=='boardsMenu'">
    <app-boards-menu></app-boards-menu>
</div>
<div *ngIf="pagina=='rutinas'">
    <app-rutinas></app-rutinas>
</div>
<div *ngIf="pagina=='registro'">
    <app-registro></app-registro>
</div>
<div *ngIf="pagina=='login'">
    <app-login></app-login>
</div>
<div *ngIf="pagina!='login'">

</div>


<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
</body>

</html>