<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP</title>
</head>


<div class="blur">

    <main>
        <div class="bigWrapper">




            <div class="d-md-flex ">


                <div class="card2">
                    <h2>Registro 🧑‍🦰</h2>
                    <hr>
                    <br>

                    <form>
                        <div class="form-group" style="text-align:center;">
                            <div class="input-group">
                                <input class="form-control" placeholder="Nombre de usuario" type="text" [formControl]="user">
                            </div>
                            <div class="input-group">
                                <input class="form-control" placeholder="Correo electrónico" type="email" [formControl]="email">
                            </div>
                            <div class="input-group">
                                <input class="form-control" placeholder="Contraseña" type="password" [formControl]="pwd">
                            </div>
<hr>
                            <button class="btn btn-outline-light" (click)=registro()>
                                Registrarse
                            </button>
                            <hr>
                            <p>¿Ya tienes una cuenta?</p>
                            <button class="btn btn-outline-light" (click)="cambiarPag('login')" >
                                Inicia sesión
                            </button>


                        </div>

                    </form>
                </div>


            </div>
        </div>





    </main>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js " integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin=" anonymous "></script>

</html>